@page
@model SenaiWebSite.Mvc.Pages.ContatoModel
@{
    ViewData["Title"] = "Contato";
}

<div class="row align-items-center">
    <div class="col">
          <div class="row g-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
              </div>
            
            <form>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email@exemplo.com">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputTel3" class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-10">
                  <input type="tel" class="form-control" id="inputTel3" placeholder="(**)*****-****">
                </div>
              </div>
              <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Objetivo</legend>
                <div class="col-sm-10">
                  <select class="form-control form-control-sm">
                      <option></option>
                      <option>Comprar Veículo </option>
                      <option>Anunciar Veículo </option>
                  </select>                

                </div>
              </fieldset>
             
              <button type="submit" onclick="exibirMensagem()"class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.1764002342215!2d-47.91553542486985!3d-15.794649984845808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3a8573c445db%3A0x3eecc7448f1a024b!2sSenai%20Bras%C3%ADlia!5e0!3m2!1spt-BR!2sbr!4v1691765277835!5m2!1spt-BR!2sbr" width="600" height="400" style="border:solid white; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
  </div>

  <script>
        function exibirMensagem(){
            alert("Obrigado !! Logo entraremos em contato");
        }
  </script>





   

