@page
@model SenaiWebSite.Mvc.Pages.InicialModel
@{
}

  <div class="row align-items-center" >        
     <div class="container">
        <div class="row">                 
           <div class="col-15">  
             <h4 class="p-3 mb-5 rounded-pill border border-2 border-end-0 border-bottom-0">Lista de Marcas Disponíveis</h4>                
              <form class="row g-3">
                 <div class="col-10">
                   <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escolha a marca...">
                    <datalist id="datalistOptions">                       
                       <option>Mercedes Benz </option>
                       <option>Land Rover </option>
                       <option>Maserati </option>
                       <option>BMW </option>
                       <option>Jeep </option>
                       <option>Porsche</option>
                       <option>Ford </option>
                       <option>BYD</option>
                    </datalist>                       
                 </div>
                        
                 <div class="col-auto">                       
                    <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
                 </div>
              </form>  
           </div>
        </div>
     </div>
  </div>

  <style>
      body {
          margin: 0;
          padding: 0;
          background-image: url('https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          font-family: Arial, sans-serif;
      }      
      h4{
           color:whitesmoke;
           text-align:center;  
           font-size:xxx-large;
           font-family: sans-serif;
      }          
  </style>  

  

  
    
    
