@page
@model SenaiWebSite.Mvc.Pages.InicialModel
@{
}

<div class="row align-items-center" >
    <div class="col" >
          <div class="row g-3">
                                                   
                <legend class="col-form-label col-sm-2 pt-0"><h4><strong>Lista de Marcas</strong></h4></legend>
                <div class="col-sm-10">
                  <select class="form-control ">                     
                      <option></option>
                      <option>Mercedes Benz </option>
                      <option>Land Rover </option>
                      <option>Maserati </option>
                      <option>BMW </option>
                      <option>Jeep </option>
                      <option>Porsche</option>
                      <option>Ford </option>
                      <option>BYD</option>
                  </select>  
                  </select>             
                </div>
              
            
                <br>
              <button type="submit" class="btn btn-primary">Enviar</button>
            
        </div>
    </div>
    
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }
        h4{
            color:black;
           }

        
    </style>  

  </div>

  
    
    
